@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2020-10-05 18:18:28
 * @version 1.0.0
 */

 body {
    -webkit-animation-name:testDay;
    -webkit-animation-duration:  30s;
    -webkit-animation-iteration-count: infinite;


    animation-name:testDay;
    animation-duration:  30s;
    animation-iteration-count:  infinite;
    
    


    }
    
    @-webkit-keyframes testDay
    {
    0% {background-color:darkblue;}
    25%{background-color:indianred;}
    50% {background-color:darkorange;}
    75%{background-color:cyan;}
    100%{background-color:darkblue;}
    }
        @keyframes testDay {
            0% {background-color:darkblue;}
            25%{background-color:indianred;}
            50% {background-color:darkorange;}
            75%{background-color:cyan;}
            100%{background-color:darkblue;}
        }

p{
    position: absolute;
    left:50%;
    top:30%;
    color:white;
    font-size: 200%;
}
